*{
	box-sizing: border-box;
	padding: 0px;
	font-family: 'Gruppo', static;
	letter-spacing: 2px;
	word-spacing: 4px;
	font-size: 20px;
}

body {
	text-align: center ;
	background-image: url("/main/Image/colorbckgrnd.jpeg");
	background-blend-mode: hard-light;
	background-color: lightgray;
	
}


.heading {
	background-image: url("Image/header.JPG") ;
	color: rgb(37, 60, 66);
	background-size: 100%;
	width: 100%;
	height: 775px;
	font-size: 30px ;
	opacity: 0.9 ;
	padding-top: 60px;
	padding-bottom: 50px;
	border-radius: 1%;
	position: fixed;
	top: 0px;
	right: 0px;
}

.heading h1{
	padding-bottom: 150px;
	position: relative;
	top: 50px;
	z-index: 10;
	display: block;
	text-align: center;
	text-transform: uppercase;
	font-size: 75px;
}

.navigation{
	margin:5px;
	position: relative;
	top: 50px;
	z-index: 9;
}

.navigation th{
	background-color: lightgray;
	opacity: 0.6;
	text-align: center;
	width: 800px; 
	padding: 20px 20px ;
	font-size: 20px ;
	border: 3px solid lightblue;
	text-transform: uppercase;
	color: Black;
}

.navigation a{
	color: black;
	opacity: 0.8;
}

th:hover {
	color: rgb(37, 60, 66);
	background: rgb(74, 111, 114);
	border: 3px solid rgb(37, 60, 66);
	opacity: 0.8;
}

.introduction{
	font-size: 25px;
	padding: 2px 0px;
	color: black;
	opacity: 0.8;
	background-color: #e1e9f1;
	background-blend-mode: lighten;
	border-radius: 1%;
	position: relative;
	top: 775px;
	font-weight: bold;
	letter-spacing: 3px;
	line-height: 2;
	overflow: scroll;
	z-index: 1;
}

.footing{
	color: Black; 
	opacity : 0.6 ;
	font-size : 20px;
	text-align: left;
	position: fixed;
	top: 0px;
}
